@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: "Inter", sans-serif;
}

* {
  border-style: none;
}

.nextui-navbar-collapse-wrapper {
  background: rgba(0, 0, 0, 0) !important;
  height: 100%;
}

@media (max-width: 767px) {
  .nextui-radio-group-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
}
